@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: black;
    color: #fff;
}
header{
    justify-content: space-around;
    display: flex;
    width: 100%;
    background-color: #000;
}
header img{
    width: 150px;
}
.icons i{
    color: white;
    font-size: 20px;
    padding: 25px;
    color: #B69650;
}
/*section 1*/
.sec1{
    align-items: center;
    text-align: center;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 100px;
}
.sec1 img{
    width: 80%;
    padding: 10px;
}
.main-btn{
    background-color: #B69650;
    border: 2px solid white;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    color: white;
}
.main-btn:hover{
    color: #B69650;
    background-color: white;
    border-color: #B69650;
}
/*section 2*/
.sec2{
    align-items: center;
    text-align: center;
    margin: 10%;
    background-color: #B69650;
    border-radius: 20px;
    padding: 20px;
}
.sec2 span{
    background-color: white;
    color: #000;
    padding: 20px;
}
.time{
   display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.time-chrono{
    color: #B69650;
    
    margin: 2px;
    border-radius: 10px;
}
/*footer */
footer{
    text-align: center;
    width: 100%;
    background-color: #B69650;
    padding: 20px;
    align-items: center;
}
/*join section */
.join{
    padding: 10%;
    padding-top: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}
.join h1{
    color: #B69650;
    text-decoration: underline;
    padding-top: 100px;
}
.join form{
    background-color: #B69650;
    padding: 20px;
    border-radius: 10px;
}
.join input{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.join button{
    background-color: #000;
    color: #B69650;
    padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
}
/*about us secftion */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    background-color: #B69650;
    border-radius: 10px;
    width: 80%;
}
.about h2{
    text-decoration: underline;
    color: #000;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}
.about p{
    font-size: 18px;
    padding: 10px;
}
/*contact*/
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
.contact form {
    width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #B69650;
}
.contact form h2{
    color: #000;
    text-decoration: underline;
}
.contact form label {
    display: block;
    margin-bottom: 8px;
}

.contact form  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.contact form  button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.contact form  button:hover {
    background-color: #fff;
    border: 3PX solid #000;
    color: #000;
}
/*giveaways page*/
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.card{
    background-color: #B69650;
    border-radius: 10px;
    padding: 10px;
}
.card img{
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}
.card h2{
    text-decoration: underline;
}
.card p{
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.card a{
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    border-radius: 8PX;
    text-decoration: underline;
}
.card a:hover{
    color: #000;
    background-color: #fff;
}

